<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Controle Cigarro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank o qye eh aqui</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button shape="round" color="success" (click)="marcarFumei()">Fumei</ion-button>
    <ion-button shape="round" color="danger" [routerLink]="['/list']" >Listar</ion-button>
  </div>
</ion-content>